VITE_CHAIN_ID=50312
VITE_RPC_URL=https://api.infra.testnet.somnia.network/
VITE_VAULT_ADDRESS=0x0000000000000000000000000000000000000000
VITE_RISK_HANDLER_ADDRESS=0x7655a76b44aF4aFc6F6A3c653d33214E4735F676
VITE_VAULT_DEPLOY_BLOCK=0
VITE_OPERATOR_METRICS_URL=http://localhost:8787/metrics
VITE_OPERATOR_ANALYTICS_URL=http://localhost:8787/analytics
VITE_DREAMDEX_API_URL=/api/dreamdex
VITE_DREAMDEX_SYMBOL=WETH:USDso
